{% extends "administrator/header.html" %}
{% load mytag %}
{% load tz %}
{% block content %}

  <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">


                                    <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h4 class="nk-block-title">Applications for web development Job position</h4>
                                                <div class="nk-block-des">
                                                    <h6>List of applicantions submitted  for <span class="text-primary">Website Development</span> to <span class="text-primary">Workanetworks Limited</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <table class="datatable-init nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                                    <thead>
                                                        <tr class="nk-tb-item nk-tb-head">

                                                            <th class="nk-tb-col"><span class="sub-text">Applicant</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Phone number</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">location</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Date Submitted</span></th>
                                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                                                            <th class="nk-tb-col nk-tb-col-tools text-right">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in applications %}
                                                        <tr class="nk-tb-item">

                                                            <td class="nk-tb-col">
                                                                <div class="user-card">
                                                                    <div class="user-info">
                                                                        <span class="tb-lead">{{item.applicant.fullname}} <span class="dot dot-success d-md-none ml-1"></span></span>
                                                                        <span>{{item.applicant.user.email}}</span>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                            <td class="nk-tb-col tb-col-md">
                                                                <span>{{item.applicant.phone}}</span>
                                                            </td>
                                                            <td class="nk-tb-col tb-col-md">
                                                                <span class="tb-date">{{item.applicant.location}}</span>
                                                            </td>
                                                            <td class="nk-tb-col tb-col-md">
                                                                {% localtime on %}
                                                                <span class="tb-date">{{item.created}}</span>
                                                                {% endlocaltime %}
                                                            </td>
                                                            <td class="nk-tb-col tb-col-md">
                                                                 {% if item.status == 'shortlist' %}
                                                            <span class="badge badge-success">Shortlisted</span>
                                                            {% elif item.status == 'decline' %}
                                                            <span class="badge badge-danger">Declined</span>
                                                            {% elif item.status == 'processing' %}
                                                            <span class="badge badge-warning">Processing</span>
                                                            {% elif item.status == 'Accept' %}
                                                            <span class="badge badge-primary">accepted</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">{{item.status}}</span>
                                                            {% endif %}
                                                            </td>
                                                            <td class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-1">

                                                                    <li>
                                                                        <div class="dropdown">
                                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                <ul class="link-list-opt no-bdr">
                                                                                    <li><a href="{% url 'administrator:job_details' item.job.job_key %}"><em class="icon ni ni-focus"></em><span>View Job</span></a></li>
                                                                                    <li><a href="{% url 'administrator:employee_details' item.applicant.uid %}"><em class="icon ni ni-user"></em><span>View Applicant</span></a></li>
                                                                                    <li class="divider"></li>
                                                                                    {% if item.status == 'suspended' %}
                                                                                    <li><a href="#" onclick="approve('{{item.applicant.fullname}}','{{item.id}}')"><em class="icon ni ni-check"></em><span>Approve Application</span></a></li>
                                                                                    {% else%}
                                                                                    <li><a href="#" onclick="suspend('{{item.applicant.fullname}}','{{item.id}}')"><em class="icon ni ni-na"></em><span>Suspend Application</span></a></li>
                                                                                    {% endif %}
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr><!-- .nk-tb-item  -->
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- .card-preview -->
                                    </div> <!-- nk-block -->
                                </div><!-- .components-preview -->
                            </div>
                        </div>
                    </div>
                </div>

<div class="modal fade" tabindex="-1" id="modalForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Suspend Application</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <form  method="post" id="suspendform" class="form-validate is-alter">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="form-label" for="applicant">Applicant Name</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="applicant"  disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control no-resize" id="default-textarea" required="required" name="note" placeholder="Write your comment"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-outline-danger">Suspend Application</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-light">
                    <span class="sub-text"><span class="text-danger"><sup>**</sup>Important!</span> An Application cannot be processed by employer</span>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" tabindex="-1" id="modalApproveForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success">Approve Application</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <form  method="post" id="approveform" class="form-validate is-alter">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="form-label" for="applicant">Applicant Name</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="applicant_name"  disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control no-resize"  required="required" name="note" placeholder="Write your comment"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-outline-success">Approve Application</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-light">
                    <span class="sub-text"><span class="text-danger"><sup>**</sup>Important!</span> The Application can now be processed by employer</span>
                </div>
            </div>
        </div>
    </div>

                <!-- content @e -->
{% endblock content%}
{% block script %}
<script>
function suspend(a,b){
$('#modalForm').modal();
$('#applicant').val(a);
$("#suspendform").attr("action", '{% url 'administrator:suspend_application' 'fg' %}'.replace(/fg/,b)); //Will set it
}
function approve(a,b){
$('#modalApproveForm').modal();
$('#applicant_name').val(a);
$("#approveform").attr("action", '{% url 'administrator:approve_application' 'fg' %}'.replace(/fg/,b)); //Will set it
}
</script>
{% endblock script %}